################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DotNetCore/DotNetCoreWebApiPractices/.vs/DotNetCoreWebApiPractices/FileContentIndex
/CSharpCode/AbstractClassEx/.vs/AbstractClassEx/FileContentIndex
/AWS-Practices/FlexPointWorks/FlexPointRetailApp
/DotNetCore/AsyncAwait
/LinqPractices/LinqExamples/FirstAndFirstOrDefault/bin/Debug/net8.0
/LinqPractices/LinqExamples/FirstAndFirstOrDefault/obj
/LinqPractices/LinqExamples/LinqExamples/bin/Debug/net8.0
